.search-input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #2D9596;
}

.search-button {
    border-radius: 20px;
    border-color: #265073;
    color: #2D9596;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #2D9596;
    color: white;
}
